/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=BBH+Bartle&family=Bitcount+Grid+Single:wght@100..900&family=Cookie&family=Lora:ital,wght@0,400..700;1,400..700&family=Mynerve&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Mono&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=VT323&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Mono", monospace;
    background-image: url(https://plus.unsplash.com/premium_photo-1754561936518-5f37da82cb11?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}

 .input-group{
    width: 1000px;
    margin: auto;
 }